.section {
  padding: 3rem 1rem;
  h1 {
    text-align: center;
    color: $dark-blue;
    text-transform: lowercase;
    @include breakpoint(large) {
      font-size: 2.5rem;
    }
  }
}

//Home header
.home-hero {
  @include hide-for(medium down);
  @include breakpoint (large) {
    height: calc(100% - 8.5rem);
  }
  background: url(../images/ltoi-main-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  .hero-content-container {
    @include breakpoint(medium) {
      @include vertical-align;
    }
    .hero-button-col {
      padding: 1rem;
      @include breakpoint (medium down) {
        ul {
          list-style-type: none;
          margin-left: 0;
        }
      }
    }
    .blue-button {
      font-size: 1.15rem;
      padding: 1rem 0.5rem;
      width: 100%;
    }
    .arrow {
      text-align: center;
      a i {
        margin-top: 1rem;
        border-radius: 50%;
        border: 3px solid $cyan;
        font-size: 2.5rem;
        color: $cyan;
        padding: 0.5rem 1rem;
        @include breakpoint(large) {
          &:hover {
            @include transition-all;
            background-color: $white;
            border: 3px solid $orange;
            color: $orange;
          }
        }
      }
    }
  }
}

.hero-logo-col {
  text-align: center;
  img {
    width: 30%;
  }
  @include breakpoint(medium) {
    img {
      width: 50%;
    }
  }
  @include breakpoint(large) {
    img {
      width: 60%;
    }
  }
}

//Housecalls Section
.section-housecalls {
  background: url(../images/halftone.png);
  background-repeat: repeat;
  background-attachment: fixed;
  h1 {
    margin-bottom: 2rem;
  }
  .housecalls-content {
    h4 {
      color: $dark-blue;
      img {
        width: 50px;
      }
    }
    @include breakpoint(medium) {
      .housecalls-content-col {
        border-right: 1px solid $cyan;
      }
    }
  }
  .carousel-container {
    border: 3px solid $dark-blue;
    padding: 1rem 2rem;
    background: $white;
    margin-top: 1.5rem;
    .slick-slide {
      margin: 0 0.2rem;
    }
    .slick-next, .slick-prev {
      color: $orange;
    }
  }
  .housecalls-email-signup {
    text-align: center;
    p {
      border-bottom: 1px solid $cyan;
      padding: 2.5rem 0 0.5rem 0;
      font-size: 1.3rem;
      font-weight: 700;
      color: $black;
      font-style: italic;
    }
  }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    line-height: 0;
    font-size: 1.5rem;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
}


//Event Speakers Section
.section-speakers {
  background-color: $orange;
  h4 {
    color: $white;
    font-style: italic;
    text-align: center;
  }
  .event-type-col {
    img {
      width: 60%;
    }
    h6 {
      color: $dark-blue;
      font-size: 1.1rem;
      margin-top: 0.5rem;
    }
    p {
      color: $white;
      font-size: 0.85rem;
    }
  }
  .event-button {
    border: 3px solid $white;
  }
}


//Podcasts Section
.section-podcasts {
  h5 {
    text-transform: lowercase;
    color: $dark-blue;
  }
  .meet-the-hosts-col {
    padding-left: 1rem;
    @include breakpoint(large) {
      border-left: 1px solid $cyan;
    }
  }
  .button {
    color: $cyan;
    border: 3px solid $cyan;
    @include breakpoint(large) {
      &:hover {
        @include transition-all;
        color: $orange;
        border-color: $orange;
      }
    }
  }
  .host-slide {
    text-align: center;
    @include breakpoint(large) {
      h6 {
        @include vertical-align;
        position: absolute;
        color: $white;
        font-size: 1.2rem;
        width: 180px;
        z-index: 2;
        display: none;
      }
      .blue-overlay {
        background-color: rgba(0,130,203, 0.5);
        height: 100%;
        width: 180px;
        position: absolute;
        z-index: 1;
        display: none;
      }
      &:hover {
        .blue-overlay {
          transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
          display: block;
          overflow: hidden;
        }
        h6 {
          display: block;
        }
      }
    }
  }
}

.player {
  margin: 2rem auto;
}

.host-carousel {
  .slick-slide img {
    padding-right: 10px;
  }
}

.reveal {
  color: $dark-blue;
  p {
    margin-bottom: 0;
  }
  h3 {
    color: $medium-blue;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $cyan;
    margin-bottom: 1rem;
  }
  img {
    float: left;
    width: 45%;
    border-radius: 6px;
    margin: 0 0.75rem 0 0;
  }
  .close-button {
    color: $orange;
  }
}

//Radio Section
.section-radio {
  background-color: $dark-blue;
  color: $white;
  h1 {
    color: $white;
  }
  .radio-content {
    padding: 1rem 0;
  }
  .radio-buttons {
    .mic {
      text-align: center;
      img {
        width: 40%;
      }
    }
    @include breakpoint(large) {
      .bmr a {
        margin-top: 1.5rem;
      }
    }
  }
}
