.subpage {
	height: 100%;
   background: url(../images/halftone.png);
   background-repeat: repeat;
   background-attachment: fixed;
   header {
      margin-bottom: 2rem;
      .entry-title {
        color: $medium-blue;
        margin: 2rem 0 1rem 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $orange;
      }
   }
}

.orange-divider {
  border-bottom: 1px solid $orange;
}

//PowerPress styles
.pp-sub-widget {
  border: none !important;
}

//Contact forms
[type="text"], [type='email'] {
  height: 3rem;
}
[type="text"], [type='email'], textarea {
  background-color: $white;
  color: $orange;
  border: 1px solid $medium-blue;
  font-family: "Fjalla One", sans-serif;
  text-transform: lowercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 6px;
}
.mc4wp-form-fields input[type='email'] {
  border: 1px solid $medium-blue;
//  height: 3rem;
  margin: 0;
}
::-webkit-input-placeholder {
    color: $orange;
    font-family: "Fjalla One", sans-serif !important;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 1.5rem;
}

:-moz-placeholder { /* Firefox 18- */
    color: $orange;
    font-family: "Fjalla One", sans-serif !important;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 1.5rem;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $orange;
    font-family: "Fjalla One", sans-serif !important;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 1.5rem;
}

:-ms-input-placeholder {  
    color: $orange;  
    font-family: "Fjalla One", sans-serif !important;
    font-weight: 700;
    text-transform: lowercase;
    font-size: 1.5rem;      
}
input[type="submit"] {
  border: 1px solid $medium-blue;
  border-radius: 6px;
  background-color: $white;
  padding: 1rem 1.5rem;
  color: $orange;  
  font-family: "Fjalla One", sans-serif !important;
  font-weight: 700;
  text-transform: lowercase;
  font-size: 1.5rem;
  @include breakpoint(large) {
    &:hover {
      background-color: $medium-blue;
      color: white;
      @include transition-all;
    }
  }
}
.email-checks {
  margin-top: 1.5rem;
  h5 {
    color: $orange;
  }
}


#search-page {
  h3 {
    margin-top: 2rem;
    color: $dark-blue;
  }
}

.sub-content {
  padding: 2rem;
  border: 3px solid $orange;
  background-color: $white;
  color: $dark-blue;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.about-hosts {
  text-align: center;
  h3 {
    color: $medium-blue;
    margin-bottom: 1.5rem;
  }
  h6 {
    margin-bottom: 1.5rem;
  }
  img {
    width: 60%;
    margin-bottom: 0.75rem;
    border-radius: 6px;
  }
}