#archive-page {
	background: url(../images/halftone.png);
  	background-repeat: repeat;
  	background-attachment: fixed;
}

.archive-content {
	margin-top: 2rem;
}

.entry-content {
	padding: 1rem;
}

#search-2 {
	margin-top: 0.8rem;
}