.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}

.button {
  font-family: $rubik;
  font-weight: 700;
  border-radius: 6px;
  text-transform: lowercase;
  font-size: 1.4rem;
}

.blue-button {
  background-color: $cyan;
  border: 3px solid $dark-blue;
  color: $dark-blue;
  @include breakpoint(large) {
    &:hover {
      background-color: $white;
      color: $orange;
      border-color: $orange;
    }
  }
  &:active, &:focus {
    background-color: $cyan;
    color: $dark-blue;
  }
}

.white-button {
  border: 3px solid $white;
  color: $white;
  @include breakpoint(large) {
    &:hover {
      color: $orange;
      border-color: $orange;
    }
  }
  &:active, &:focus {
    background-color: $dark-blue;
    color: $white;
  }
}
