.pop-terms {
	max-height: 175px;
	@include breakpoint(medium) {
		max-height: 300px;
	}
	padding: .75rem;
	@include breakpoint(large) {
		padding: 1.5rem;
	}
	@include breakpoint(large) {
		width: 90%;
	}
	overflow-y: scroll;
	border: 1px solid $light-gray;
	border-radius: 6px;
	margin: 1rem auto 1.5rem auto;
	font-size: 0.9rem;
	[type="checkbox"] {
		margin: 0 0 1.5rem;
	}
}

.wmpci-popup-body {
	max-width: 90%;
	@include breakpoint(medium only) {
		max-width: 70%;
	}
	@include breakpoint(large) {
		max-width: 60%;
	}
	@include breakpoint(xlarge) {
		max-width: 50%;
	}
	p {
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
	}
	.button {
		font-size: 1rem;
		margin-bottom: 0;
		background: $dark-blue;
		padding: 0.7rem;
    	margin: 0;
	}
}

.wpmci-popup-cnt-inr-wrp {
	h2 {
		color: $medium-blue !important;
	}
	form p {
		color: $medium-blue;
		font-size: 1rem;
	}
}
