#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: $medium-blue;
	#footer {
		@include grid-row();
		padding: 0.8rem 0;
		color: $white;
		@include breakpoint(small only) {
			text-align: center;
		}
		p {
			margin-bottom: 0;
		}
		.copy {
			font-size: 0.75rem;
			text-align: center;
			@include breakpoint(medium) {
				font-size: 0.85rem;
				text-align: left;
			}

		}
		.moxy {
			@include breakpoint(small only) {
				text-align: center;
				margin-top: 0.5rem;
			}
			@include breakpoint(medium) {
				float: right;
			}
			a {
				font-family: $moxy-font;
				color: $white;
				font-size: 1.2rem;
				@include breakpoint(large) {
					font-size: 1.5rem;
					&:hover {
						@include transition-all;
						color: $orange;
					}
				}
			}
		}
		small {
			font-size: 75%;
			color: $white;
		}
	}
	#menu-footer {
		li {
			a {
				padding: 0.5rem 0;
				font-weight: 700;
				color: $white;
				@include breakpoint(large) {
					&:hover {
						@include transition-all;
						color: $orange;
					}
				}
			}
		}
		#menu-item-61 {
			padding-left: 0.5rem;
		}
		#menu-item-62 {
			border-right: 1px solid $white;
			padding-right: 0.5rem;
		}
	}
}

#menu-footer-1 li {
	a {
		color: $white;
		padding-left: 0;
		padding-right: 0.5rem;
	}
	&:not(:last-child) {
		border-right: 1px solid $white;
	}
	&:not(:first-child) {
		padding-left: 0.5rem;
	}
}