.head-search {
  background-color: $dark-blue;
  padding-top: 0.75rem;
  p {
    color: $white;
    font-style: italic;
    margin-bottom: 0;
    padding-top: 0.5rem;
    span {
      font-style:normal;
      font-size: 1.1rem;
      margin: 0 0.5rem;
    }
  }
  .button {
  //  margin-left: 2rem;
    font-weight: 500;
    border-radius: 6px;
    text-transform: lowercase;
    font-size: 1rem;
    padding: 0.5rem;
    border: 3px solid $cyan;
    @include breakpoint(large) {
      &:hover {
        @include transition-all;
        background-color: $cyan;
        color: $dark-blue;

      }
    }
  }
  .head-social {
    list-style-type: none;
    margin: 0;
    padding-top: 0.5rem;
    li {
      display: inline-block;
      a {
        color: $white;
        .fa {
          font-size: 1.5rem;
        }

        @include breakpoint(large) {
          &:hover {
            @include transition-all;
            color: $cyan;
          }
        }
      }
    }
  }
}

nav {
  @include hide-for(medium down);
  @include breakpoint(large) {
    height: 5rem;
    .menu-home-bottom-menu-container .menu {
      padding: 1.3rem 0;
    }
  }
}

nav, .nav {
  background-color: $dark-blue;
  .menu-home-bottom-menu-container {
    text-align: center;
    .menu {
      margin: 0 auto;
      display: inline-block;
      li {
        a {
          color: $white;
          border-right: 1px solid $white;
          font-size: 1.2rem;
          font-family: $fjalla;
          text-transform: lowercase;
          &:last-child {
            border-right: none;
          }
        }
      }
      .active a {
        background: transparent;
      }
    }
  }
}

.sub-nav {
  h6, p, li, a {
    color: $white;
  }
  img {
    width: 60%;
  }
}

/* Mobile Nav */
.mobile-top-bar {
  @include hide-for(large);
  padding: 0.5rem 1rem;
  background: $white;
  border-bottom: 3px solid $orange;
  @include breakpoint(small only) {
    img {
      width: 20%;
    }
  }
  @include breakpoint(medium only) {
    img {
      width: 10%;
      margin-left: 1rem;
    }
  }
  .mobile-nav-icon {
    margin-top: 1.5rem;
    float: right;
    a {
      font-size: 2rem;
      color: $cyan;
    }
  }
  .mobile-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9999;
    overflow: auto;
    background: rgba($white, 0.9);
    i.close {
      float: right;
      margin-top: 2rem;
      font-size: 2.5rem;
      margin-right: 2.5rem;
      color: $orange;
    }
    ul {
      margin: 5rem 0 1rem 0;
      li {
        display: block;
        text-align: center;
        a {
          color: $dark-blue;
          font-size: 2.5rem;
          font-family: $rubik;
          text-align: center;
        }
      }
    }
    .menu .active > a {
      background-color: transparent;
    }
  }
}