.sub-content {
  padding: 2rem;
  border: 3px solid $orange;
  background-color: $white;
  color: $dark-blue;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.sidebar {
	padding: 1rem;
  	border: 3px solid $orange;
 	background-color: $white;
 	border-radius: 6px;
 	@include breakpoint(large) {
 		position: fixed;
 	}
	h5 {
		color: $dark-blue;	
	}
	a {
		color: $medium-blue;
	}
	.button {
		padding: 0;
		padding-left: 0.5rem;
		color: $orange;
	}
	ul {
		margin-left: 0;
		li {
			list-style-type: none;
			&:before {
				content: '\2022 ';
				color: $orange;
				padding-right: 0.5em;
			}
		}
		
	}
	[type="text"], select {
		border: 1px solid $cyan;
		font-family: "Fjalla One", sans-serif;
	}

	::-webkit-input-placeholder {
	    color: $orange;
	    font-family: "Fjalla One", sans-serif;
	    font-weight: 700;
	    border-radius: 6px;
	    text-transform: lowercase;
	    font-size: 1.4rem;
	}

	:-moz-placeholder { /* Firefox 18- */
	    color: $orange;
	    font-family: "Fjalla One", sans-serif;
	    font-weight: 700;
	    border-radius: 6px;
	    text-transform: lowercase;
	    font-size: 1.4rem;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	    color: $orange;
	    font-family: "Fjalla One", sans-serif;
	    font-weight: 700;
	    border-radius: 6px;
	    text-transform: lowercase;
	    font-size: 1.4rem;
	}

	:-ms-input-placeholder {  
	    color: $orange;  
	    font-family: "Fjalla One", sans-serif;
	    font-weight: 700;
	    border-radius: 6px;
	    text-transform: lowercase;
	    font-size: 1.4rem;	    
	}
}

#archives-2 {
	label {
		display: none;
	}
	select:required:invalid {
	  color: $medium-gray;
	}
	option[value=""][disabled] {
	  display: none;
	}
	option {
	  	color: $orange;  
	    font-family: "Fjalla One", sans-serif;
	}
}